@import "prefixer";

body{
	z-index: -60;
	font-family:'Open Sans', sans-serif;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
}
#themeSwitcher { padding-top: 6px }

body > *{  z-index: 20  }

::selection{background-color: #dadada;}
::-moz-selection{background-color: #dadada;}

a { font-weight:700;  text-decoration:none; }

a.external::after {
	.transition( all 230ms ease-in-out);
	content:'⇸';
	/*strongly considered '⤯', but it looks like an X, which does not work.*/
}

p{
	margin:0; /*why does margin overlap its bounds? How is that useful?*/
	padding-bottom: 9px;
}

#graff {
	z-index: 5;
	position: fixed;
	left:0px; top:0px; right:0px;
	width: 100%;
	height: 100%;
}

@lightThemeBackground: rgb(250,250,250);

body.lightTheme{
	background-color: @lightThemeBackground;
	color: rgb(2,2,2);
	#graff { background-color: @lightThemeBackground }
	#action { background-color: rgb(0,0,0);  color: rgb(184,214,185) }
	.obscures { background-color: rgba(250,250,250,0.63) }
	#linklist{ .linear-gradient-top(none,  rgba(250,250,250,0.63),0%,  rgba(250,250,250,0.24),100%) }
	.tip { color: rgb(0,0,0); background-color: rgba(250,250,250,0.83) }
	.controlSubscript{ color: rgb(153,153,153) }
	#controls{ background-color: rgba(250,250,250,0.6) }
	&.editMode #title:empty::after { color: rgb(181,181,181) }
	.minorFont { color: rgb(197,197,197) }
	:hover > .minorFont{ color:rgb(2,2,2) }
	#localPantheon{ color:rgb(187,200,191) }
	a{ color:rgb(0,0,0) }
	a.external::after { color:rgb(208,208,208) }
	a.external:hover::after { color: rgb(2,2,2) }
	#loginimagesmall > path { fill:rgb(0,0,0) }
	#spinner > path { fill:rgb(0,0,0) }
	#ghosty > path { fill: #C3D1CD }
}

body:not(.lightTheme){
	background-color: rgb(0,0,0);
	color: rgb(230,230,230);
	#graff { background-color: rgb(0,0,0) }
	#action { background-color: rgb(10,13,10);  color: rgb(184,214,185) }
	.obscures { background-color: rgba(0,0,0,0.63) }
	#linklist{ .linear-gradient-top(none,  rgba(0,0,0,0.63),0%,  rgba(0,0,0,0.24),100%) }
	.tip { color: rgb(255,255,255); background-color: rgba(0,0,0,0.83) }
	.controlSubscript{ color: rgb(160,160,160) }
	#controls{ background-color: rgba(0,0,0,0.6) }
	&.editMode #title:empty::after { color: rgb(90,90,90) }
	.minorFont { color: rgb(90,90,90) }
	:hover > .minorFont{ color: rgb(230,230,230) }
	#localPantheon{ color: rgb(78,90,96) }
	a{ color:rgb(255,255,255) }
	a.external::after { color: rgb(90,90,90) }
	a.external:hover::after { color: rgb(230,230,230) }
	#loginimagesmall > path { fill:rgb(230,230,230) }
	#spinner > path { fill:rgb(230,230,230) }
	#ghosty > path { fill: #585C5B }
}

.graffCanvas{
	opacity: 1;
	.animation( dally 6s ease-in-out 0s 1 normal forwards);
}
@-webkit-keyframes dally {0%{opacity: 0} 40%{opacity: 0} 100%{opacity: 1}}
@-moz-keyframes dally {0%{opacity: 0} 40%{opacity: 0} 100%{opacity: 1}}
@-ms-keyframes dally {0%{opacity: 0} 40%{opacity: 0} 100%{opacity: 1}}
@-o-keyframes dally {0%{opacity: 0} 40%{opacity: 0} 100%{opacity: 1}}
@keyframes dally {0%{opacity: 0} 40%{opacity: 0} 100%{opacity: 1}}

#loginimagesmall {
	float:left;
	width: 22px;
	height: 17px;
	padding-right: 4px;
}

#topBar{
	padding-top: 18px;
	padding-bottom: 18px;
}
#titleFlow {
	text-align: center;
	font-size: 55px;
	font-family:'Gafata', sans-serif;
}
body.editMode #title:empty:after {
	content: 'Title';
}
#triangle {
	opacity: 0.13;
}
.loggedIn #triangle {
	opacity: 1;
}

.responds { cursor: pointer; }

.collapsed { display: none; }

#ghosty {
	position: fixed;
	cursor: pointer;
	z-index: 100;
	left: 0px;
	top: 0px;
	opacity: 0;
	.transition( all 0.2s ease-in-out);
}
.ghostlike {
	height: 27px;
	width: 27px;
	padding: 6px;
}

body.indicatorsShown:not(.proDeployer) #ghosty {
	.transition(all 6s ease-in-out);
	opacity: 1;
}
#ghosty:hover, body.controlsDeployed #ghosty {
	.transition(all 0.2s ease-in-out);
	opacity: 1;
}

#controls {
	position:fixed;
	text-align: left;
	z-index: 50;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 200px;
	.transition( all 0.2s ease-in-out);
}
body.controlsDeployed #controls {
	left: 0px;
	opacity: 1;
}
body:not(.controlsDeployed) #controls {
	left:-20px;
	opacity:0;
	pointer-events:none;
}
// .hidden * {
// 	pointer-events:none;
// }

.controlSubscript {
	padding-top: 6px;
	padding-left: 4px;
	font-size: 12px;
}
.trayItem {
	font-weight: 600;
	cursor: pointer;
	padding-top: 2px;
	padding-left: 8px;
	padding-right: 5px;
	.transition( all 0.2s);
}
.trayItem:hover {
	padding-left: 13px;
	padding-right: 0px;
}

#controlContents {
	overflow-y: auto;
}

body:not(.loggedIn) .loggedInOnly {
	display: none;}
.loggedIn .loggedOutOnly{
	display: none;}

body:not(.editMode) .editModeOnly {
	display: none;}
.editMode .readingModeOnly {
	display: none;}

.unselected {
	opacity: 0.67;
}

body:not(.editMode) .editVisible {
	opacity: 0;
	pointer-events: none;
}
.editMode .editVisible {
	opacity: 1;
	pointer-events: auto;
}

.tip {
	position: fixed;
	z-index: 140;
	text-align: center;
	pointer-events: none;
	font-family: 'Gafata', sans-serif;
	font-size: 20px;
	width: 178px;
	border:6px;
	border-radius: 3px;
	opacity: 0;
	.transition( opacity 0.2s ease-in-out);
}

.tip.opaque {
	opacity: 1;
}

#prop {
	width:0px;
}


#action {
	position: fixed;
	display: inline-block;
	overflow: hidden;
	z-index: 70;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:0px;
	font-family:monospace;
}

.line {
	display: block;
	width: 100%;
	font-weight: 700;
	.animation( fadein 240ms ease-in 0s 1 normal forwards);
}
@-webkit-keyframes fadein { 0%{opacity:0;} 50%{opacity:0;} 100%{opacity:1;} }
@-moz-keyframes fadein { 0%{opacity:0;} 50%{opacity:0;} 100%{opacity:1;} }
@-ms-keyframes fadein { 0%{opacity:0;} 50%{opacity:0;} 100%{opacity:1;} }
@-o-keyframes fadein { 0%{opacity:0;} 50%{opacity:0;} 100%{opacity:1;} }
@keyframes fadein { 0%{opacity:0;} 50%{opacity:0;} 100%{opacity:1;} }

.line.feedback {
	color: #FFBF00;
}
#backlog {
	.transition( all 140ms ease-out);
	width: 100%;
	position:absolute;
	top:0px;
	left:0px;
}
#bay {
	width: 100%;
	position:absolute;
	top:0px;
	left:0px;
}
#cli {
	padding: 0px;
	outline: none;
	background: none;
	color: inherit;
	border: none;
	margin: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ie-appearance: none;
	-o-appearance: none;
	appearance: none;
	position:relative;
	left:0px;
	top:0px;
	font-family:monospace;
}

#illustration{
	padding-top: 12px;
	bottom: 0px;
	text-align: left;
	left: 0px;
	right: 0px;
	margin:0px;
	padding:0px;
	border:none;
	outline: none;
}

.minorFont {
	.transition( all 0.3s);
}

.listLinkText {
	color:inherit;
	font-weight:inherit;
	text-decoration:inherit;
}
body:not(.editMode) .listLink>*{
	cursor: pointer;
}
.listLinkArrow {
	padding-right: 4px;
	float: left;
	cursor: pointer;
}

body:not(.editMode) .treversalLink>.listLinkText {
	display:none;
}
body.editMode .treversalLink>.listLinkTitle {
	display:none;
}

.backLink {
	position: relative;
	/*left: -21px;*/
}

.easeinout {
	.transition( all 0.3s ease-in-out);
}

.easein { /*to be disabled when doing rapid movements*/
	.transition( all 0.3s ease-in);
}

#changeSender{
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: -7px;
	top: 0px;
	cursor: pointer;
	padding-top: 13px;
	padding-right: 13px;
	.easeinout;
}
body.editMode.modified #changeSender{
	opacity: 1;
	right: 0px;
	pointer-events: auto;
}

#pageBroader {
	position: relative;
}
#page {
	position: relative;
}
#pageContent {
	position: relative;
	left: 0px;
	opacity: 0;
}
body.editMode #pageContent{
	.animation(wumph 0.42s linear 230ms 1 normal none);
}
@-webkit-keyframes wumph {
	0% {opacity: 1}
	78% {opacity: 0.29}
	100% {opacity: 1}}
@-ms-keyframes wumph {
	0% {opacity: 1}
	78% {opacity: 0.29}
	100% {opacity: 1}}
@-o-keyframes wumph {
	0% {opacity: 1}
	78% {opacity: 0.29}
	100% {opacity: 1}}
@keyframes wumph {
	0% {opacity: 1}
	78% {opacity: 0.29}
	100% {opacity: 1}}



#linklist {
	text-align: left;
}

#spinner {
	display: none;
	position: absolute;
	pointer-events: none;
	width: 60px;
	height: 60px;
	.transition( all 0.9s);
	opacity: 0;
}
#spinner.showing {
	opacity: 1;
	.animation(spinning 7s linear 0.3s infinite normal forwards);
}

@-webkit-keyframes spinning {from{-webkit-transform:rotate(0deg);} to{-webkit-transform:rotate(360deg);}}
@-moz-keyframes spinning {from{-moz-transform:rotate(0deg);} to{-moz-transform:rotate(360deg);}}
@-ms-keyframes spinning {from{-ms-transform:rotate(0deg);} to{-ms-transform:rotate(360deg);}}
@-o-keyframes spinning {from{-o-transform:rotate(0deg);} to{-o-transform:rotate(360deg);}}
@keyframes spinning {from{transform:rotate(0deg);} to{transform:rotate(360deg);}}

.hideySituationH(
	@naturalLength,
	@modeSwitch,
	@containedId,
	@containerId,
	@fadeDuration: 0.3s,
	@slideDuration: 0.22s
){
	#@{containerId} {
		display: inline-block;
		text-align: center;
		vertical-align: bottom;
		overflow: hidden;
		width: 0;
		.transition( all @slideDuration ease-out @fadeDuration);
	}
	#@{containedId} {
		position: relative;
		display: inline;
		width: @naturalLength;
		opacity: 0;
		.transition( all @fadeDuration ease-in);
	}
	body.@{modeSwitch} {
		#@{containerId} {
			.transition( all @slideDuration ease-out);
			width: @naturalLength;
		}
		#@{containedId} {
			.transition( all @fadeDuration ease-in @slideDuration);
			opacity: 1;
		}
	}
}

.hideySituationV(
	@naturalLength,
	@modeSwitch,
	@containedId,
	@containerId,
	@fadeDuration: 0.3s,
	@slideDuration: 0.22s
){
	#@{containerId} {
		overflow: hidden;
		height: 0;
		.transition( all @slideDuration ease-out @fadeDuration);
	}
	#@{containedId} {
		height: @naturalLength;
		opacity: 0;
		.transition( all @fadeDuration ease-in);
	}
	body.@{modeSwitch} {
		#@{containerId} {
			.transition( all @slideDuration ease-out);
			height: @naturalLength;
		}
		#@{containedId} {
			.transition( all @fadeDuration ease-in @slideDuration);
			opacity: 1;
		}
	}
}

@godopHeight: 31px;

.hideySituationV(24px, editMode, godFace, godFaceContainer);

// .hideySituationV(@godopHeight, editMode, godOpsContainer, godOpsHidey);
//god ops presently disabled


@localPantheonHeight: 20px;

.hideySituationV(@localPantheonHeight, editMode, localPantheon, localPantheonHidey);

#godFace {
	display: inline-block;
}
#godFaceContainer {
	text-align: center;
}

#godOpsContainer {
	text-align: center;
}
#centerGodOpsHoriz {
	display: inline-block;
}
#centerGodOpsHoriz > img:not(.bookend) {
	cursor:	pointer;
	opacity: 0.3;
	height: @godopHeight;
	@godopPad: 20px;
	padding-left: @godopPad;
	padding-right: @godopPad;
	.transition(all 0.22s ease-in-out);
}

.bookend {
	opacity: 0.2;
}

#centerGodOpsHoriz > img:not(.bookend):hover {
	opacity: 1;}

#bookendLeft {
	.transform(scaleX(-1));
}

body.starred #starOp {
	opacity: 0.9;
}

#localPantheon {
	text-align: center;
	height: @localPantheonHeight;
	.godProfile {
		display: inline-block;
		@spacing: 30px;
		font-size: @localPantheonHeight;
		font-weight: 700;
		padding-left: @spacing;
		padding-right: @spacing;
		padding-bottom: 0px;
		padding-top: 0px;
	}
}

.stuffList(@el, @title){
	#@{el}.loggedInOnly:not(:empty)::before {
		.controlSubscript;
		content: @title;
	}
}

.stuffList(identities, 'Identities');

body.starred #notePage {
	display:none;
}
body:not(.starred) #unnotePage {
	display:none;
}

#starIcon {
	display: inline;
}
